<nav class="navbar navbar-light bg-primary">

  <div class="container-fluid">
    <h2> Restaurent Record App</h2>

    <div class="d-flex">
      <button type="button" class="btn btn-success" data-bs-toggle="modal"
      data-bs-target="#exampleModal">
       Add Restaurant
      </button>
    </div>
  </div>
</nav>

<!-- Jumbotron  -->

<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
     <h1 class="display-5 fw-bold">Restaurant Record Management</h1>
     <p class="col-md-8 fs-4">You can save Record of Your Restaurant </p>
     <a class="btn btn-primary btn-lg" target="_blank"  type="button"> Submit</a>
    </div>
</div>

<!-- Table Shown  -->

<table class="table mt-4">
  <thead>
    <tr>
      <th scope="col"> Restaurant ID</th>
      <th scope="col"> Name    </th>
      <th scope="col"> Email   </th>
      <th scope="col"> Mobile  </th>
      <th scope="col"> Address </th>
      <th scope="col"> Service </th>
      <th scope="col"> Action  </th>
    </tr>
  </thead>
  <tbody>
   <tr *ngFor="let data of allRestaurantData">
       <td>{{data.id}} </td>
       <td>{{data.name}}</td>
       <td>{{data.email}}</td>
       <td>{{data.address}}</td>
       <td>{{data.mobile}}</td>
       <td>{{data.services}}</td>
       <td>
         <button class="btn btn-info">Edit</button>&nbsp;
         <button class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
</table>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="text" formControlName="name" class="form-control" placeholder="Enter Name" aria-describedby="emailHelp">
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email Id</label>
            <input type="email" formControlName="email" class="form-control" placeholder="Email Id" aria-describedby="emailHelp">
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Mobile </label>
            <input type="number"  formControlName="mobile" class="form-control" placeholder="Contact No" aria-describedby="emailHelp">
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Address</label>
            <input type="text" class="form-control"  formControlName="address" placeholder="Address" id="exampleInputPassword1">
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Services</label>
            <input type="text" class="form-control" placeholder="Services"
            aria-describedby="emailHelp" formControlName="services">
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button"  (click)="addResto()"  class="btn btn-primary">Add Details</button>
      </div>
    </div>
  </div>
</div>
