<h1> Angular Works </h1>
<!--
<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
</form> -->
<!--
<table>


    <th>Name </th>
    <th>email</th>
    <th> Id </th>

  <tr *ngFor="let user of userList">


    <th>{{user.name}}</th>
    <th>{{user.email}}</th>
    <th>{{user.postId}}</th>
  </tr>
</table>

<router-outlet></router-outlet> -->
<br> <br>
<!-- <h2> Parent Component </h2> -->
<app-child  (greetChild)="greet($event)"></app-child>

<app-child [loggedIn]="userLoggedIn"></app-child>

<!-- {{ date | date: 'dd/MM/yyyy'}} -->

<!-- <ngx-spinner> </ngx-spinner> -->

<!-- <app-image-gallery></app-image-gallery> -->

<!-- <app-data-table></app-data-table> -->
