<form >
  <div class="card">
    <div class="card-header">
      <h1> My Form </h1>
    </div>
    <br>
    <label for="username" class="label-form">
    Name :- <input type="text" id="username" style="width: 50%; margin-left:
      154px; border-radius: 5px solid black;"
      required>
    </label>
    <br>
    <label for="username" class="label-form">
      Email :- <input type="email" id="username" style="width: 50%; margin-left:
      157px;"
      required>
  </label>
  <br>
  <label for="username" class="label-form">
    Mobile :- <input class="pd-telephone-input"  type="tel" id="phone" style="width: 50%; margin-left:
      150px;"
      required>
    </label>
  <br>
  <label for="username" class="label-form">
    Address :- <input type="text" id="username" style="width: 50%; margin-left:
      140px;"
      required>
  </label>
  <br>
  <label for="username" class="label-form">
    College:- <input type="text" id="username" style="width: 50%; margin-left:
      150px;"
      required>
    </label>
    <br>
  <label for="username" class="label-form">
    Location :- <input type="text" id="username" style="width: 50%; margin-left:140px;"
      required>
  </label>
  <br>
  <label for="username" class="label-form" >
    State :- <select name="state" id="state" style="margin-left: 162px; width: 50%;">
      <option class="default-option"> select an option  </option>
      <option value="delhi">Delhi</option>
      <option value="rajasthan">Rajasthan</option>
      <option value="uttarPradesh">Uttar Pradesh</option>
      <option value="lucknow">Lucknow</option>
    </select>
  </label>
  <br>
  <label for="username" class="label-form">
    School :- <input type="text" id="username" style="width: 50%; margin-left:
      150px;"
      required>
    </label>
  <br>
  <button type="button" class="btn btn-success" id="btnSubmit">Submit</button>
</div>
</form>
