
<div *ngIf="status">
  <div *ngIf="(status === 1)" >
    <span class="progress-bar progress-bar-green"></span>
    <span class="progress-bar progress-bar-grey"></span>
    <span class="progress-bar progress-bar-grey"></span>
    <span class="progress-bar progress-bar-grey"></span>
  </div>
  <div *ngIf="status === 2">
    <span class="progress-bar progress-bar-green"></span>
    <span class="progress-bar progress-bar-green"></span>
    <span class="progress-bar progress-bar-grey"></span>
    <span class="progress-bar progress-bar-grey"></span>
  </div>
  <div *ngIf="status === 3">
    <span class="progress-bar progress-bar-green"></span>
    <span class="progress-bar progress-bar-green"></span>
    <span class="progress-bar progress-bar-green"></span>
    <span class="progress-bar progress-bar-grey"></span>
  </div>
  <div *ngIf="status === 4">
    <span class="progress-bar progress-bar-green"></span>
    <span class="progress-bar progress-bar-green"></span>
    <span class="progress-bar progress-bar-green"></span>
    <span class="progress-bar progress-bar-green"></span>
  </div>
</div>

