<!-- Learn How to fetch API on screen  -->
<!-- <h1>This is API Calling </h1>

<table border = 1>
  <tr>
    <td>Id</td>
    <td>Title</td>
    <td>User Id</td>
    <td>Completed</td>
  </tr>

  <tr *ngFor="let item of data ">

    <td>{{item.id}} </td>
    <td>{{item.title}} </td>
    <td>{{item.userId}} </td>
    <td>{{item.completed}}</td>

  </tr>
</table> -->

<h1> Lazy Loading </h1>

<br>
<h2> Admin Links </h2>
<ul>
   <li>
     <a routerLink="admin/login">Login </a>
   </li>
   <li>
    <a routerLink="admin/list"> List</a>
  </li>
</ul>
<router-outlet></router-outlet>

<br>

<h2> User Links </h2>

<ul>
  <li>
    <a routerLink="user/login">Login </a>
  </li>
  <li>
   <a routerLink="user/list"> List</a>
 </li>
</ul>
<router-outlet></router-outlet>








